# utilities:
# docker stop $(docker ps -a -q)
# docker rm $(docker ps -a -q)
# debug: docker compose run --entrypoint /bin/bash service-name
# docker run -it --entrypoint /bin/bash -v /home/user/test:/test imagename

services:
  nginx:
    image: nginx:1.29.3-alpine
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./frontend/reverse-proxy/nginx.conf:/etc/nginx/nginx.conf
      - ./frontend/reverse-proxy/certs:/etc/nginx/certs
    depends_on:
      frontend:
        condition: service_started
    security_opt:
      - no-new-privileges:true
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 256M
        reservations:
          cpus: "0.5"
          memory: 256M
    networks:
      - public-subnet
      - private-subnet

  frontend:
    build:
      context: ./frontend/clientapp/
      args:
        VITE_BACKEND_URL: ${BACKEND_URL}
        VITE_BLOG_NAME: ${BLOG_NAME}
        VITE_GITHUB_LINK: ${GITHUB_LINK}
    restart: unless-stopped
    depends_on:
      backend:
        condition: service_started
    security_opt:
      - no-new-privileges:true
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 512M
        reservations:
          cpus: "0.25"
          memory: 256M
    networks:
      - private-subnet

  backend:
    build: ./backend/api/
    read_only: true
    restart: unless-stopped
    depends_on:
      database:
        condition: service_healthy
      storage:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:${API_PORT}/health"]
      interval: 5s
      timeout: 3s
      retries: 5
    environment:
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      DB_BLOG_DB_NAME: ${DB_BLOG_DB_NAME}
      DB_BLOG_SERVICE_USER: ${DB_BLOG_SERVICE_USER}
      DB_BLOG_SERVICE_PASSWORD: ${DB_BLOG_SERVICE_PASSWORD}
      DB_BLOG_ADDR: ${DB_BLOG_ADDR}
      API_PORT: ${API_PORT}
      JWT_ACCESS_TOKEN_EXPIRATION: ${JWT_ACCESS_TOKEN_EXPIRATION}
      JWT_REFRESH_TOKEN_EXPIRATION: ${JWT_REFRESH_TOKEN_EXPIRATION}
      JWT_SIGN_KEY: ${JWT_SIGN_KEY}
      FRONTEND_URL: ${FRONTEND_URL}
      BLOG_USERNAME: ${BLOG_USERNAME}
      BLOG_PASSWORD: ${BLOG_PASSWORD}
    user: 1000:1000
    security_opt:
      - no-new-privileges:true
    networks:
      - private-subnet
      - data-subnet

  database:
    image: mariadb:12.0.2
    restart: unless-stopped
    ports:
      - "127.0.0.1:5306:3306"
    environment:
      MARIADB_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
    volumes:
      - ./backend/mariadb/db:/var/lib/mysql
      - ./backend/mariadb/.initdb:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 10
    security_opt:
      - no-new-privileges:true
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: 2048M
        reservations:
          cpus: "1"
          memory: 2048M
    networks:
      - data-subnet

  storage:
    image: rustfs/rustfs:latest
    restart: unless-stopped
    security_opt:
      - "no-new-privileges:true"
    ports:
      - "127.0.0.1:9000:9000"
      - "127.0.0.1:9001:9001"
    volumes:
      - ./rustfs_data:/data
    environment:
      RUSTFS_ADDRESS: 0.0.0.0:9000
      RUSTFS_CONSOLE_ADDRESS: 0.0.0.0:9001
      RUSTFS_CONSOLE_ENABLE: true
      RUSTFS_CORS_ALLOWED_ORIGINS: http://localhost:443
      RUSTFS_CONSOLE_CORS_ALLOWED_ORIGINS: "*"
      RUSTFS_ACCESS_KEY: "${STORAGE_ACCESS_KEY}"
      RUSTFS_SECRET_KEY: "${STORAGE_SECRET_KEY}"
      RUSTFS_OBS_LOGGER_LEVEL: info
      RUSTFS_TLS_PATH: /opt/tls
      RUSTFS_OBS_ENDPOINT: http://otel-collector:4317
    healthcheck:
      test:
        [
          "CMD",
          "sh",
          "-c",
          "curl -f http://127.0.0.1:9000/health && curl -f http://127.0.0.1:9001/rustfs/console/health",
        ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    networks:
      - private-subnet

  createbuckets:
    image: minio/mc
    depends_on:
      storage:
        condition: service_healthy
    networks:
      - private-subnet
    entrypoint: >
      /bin/sh -c " /usr/bin/mc alias set blog http://storage:9000 ${STORAGE_ACCESS_KEY} ${STORAGE_SECRET_KEY}; /usr/bin/mc mb blog/${STORAGE_BUCKET_NAME}; /usr/bin/mc anonymous set public blog/${STORAGE_BUCKET_NAME}; exit 0; "

networks:
  public-subnet:
    driver: bridge
  private-subnet:
    driver: bridge
  data-subnet:
    driver: bridge
