# utilities:
# docker stop $(docker ps -a -q)
# docker rm $(docker ps -a -q)
# debug: docker compose run --entrypoint /bin/bash service-name
# docker run -it --entrypoint /bin/bash -v /home/user/test:/test imagename

services:
  nginx:
    image: nginx:1.29.3-alpine
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./frontend/reverse-proxy/nginx.conf:/etc/nginx/nginx.conf
      - ./frontend/reverse-proxy/certs:/etc/nginx/certs # self signed certs
    depends_on:
      frontend:
        condition: service_started
    security_opt:
      - no-new-privileges:true
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 256M
        reservations:
          cpus: "0.25"
          memory: 128M
    networks:
      - public-subnet
      - private-subnet

  frontend:
    build:
      context: ./frontend/clientapp/
      args:
        VITE_BACKEND_URL: https://localhost:443/blog
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      backend:
        condition: service_started
    security_opt:
      - no-new-privileges:true
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 512M
        reservations:
          cpus: "0.25"
          memory: 256M
    networks:
      - private-subnet

  backend:
    build: ./backend/api/
    read_only: true
    restart: always
    ports:
      - "${API_PORT}:${API_PORT}"
    environment:
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      DB_BLOG_DB_NAME: ${DB_BLOG_DB_NAME}
      DB_BLOG_SERVICE_USER: ${DB_BLOG_SERVICE_USER}
      DB_BLOG_SERVICE_PASSWORD: ${DB_BLOG_SERVICE_PASSWORD}
      DB_BLOG_ADDR: ${DB_BLOG_ADDR}
      API_PORT: ${API_PORT}
      JWT_ACCESS_TOKEN_EXPIRATION: ${JWT_ACCESS_TOKEN_EXPIRATION}
      JWT_REFRESH_TOKEN_EXPIRATION: ${JWT_REFRESH_TOKEN_EXPIRATION}
      JWT_SIGN_KEY: ${JWT_SIGN_KEY}
      FRONTEND_URL: ${FRONTEND_URL}
      BLOG_USERNAME: ${BLOG_USERNAME}
      BLOG_PASSWORD: ${BLOG_PASSWORD}
    user: 1000:1000
    security_opt:
      - no-new-privileges:true
    networks:
      - private-subnet
      - data-subnet

  database:
    image: mariadb:12.0.2
    restart: always
    ports:
      - "5306:3306"
    environment:
      MARIADB_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
    volumes:
      - ./backend/mariadb/db:/var/lib/mysql
      - ./backend/mariadb/.initdb/init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 10
    security_opt:
      - no-new-privileges:true
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: 2048M
        reservations:
          cpus: "1"
          memory: 2048M
    networks:
      - data-subnet

  storage:
    image: quay.io/minio/minio:latest
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: ${STORAGE_ACCESS_KEY}
      MINIO_ROOT_PASSWORD: ${STORAGE_SECRET_KEY}
      MINIO_KMS_AUTO_ENCRYPTION: on
      MINIO_KMS_SECRET_KEY: key:${STORAGE_ENCRYPT_KEY}
    # volumes:
    #   - './minio_data:/data'
    healthcheck:
      test: [ "CMD", "mc", "ready", "local" ]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - private-subnet

networks:
  public-subnet:
    driver: bridge
  private-subnet:
    driver: bridge
  data-subnet:
    driver: bridge
